/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* THEME */
:root {
    --bg: #0f172a;
    --text: white;
    --card: #1e293b;
}

.light-mode {
    --bg: #f8fafc;
    --text: #0f172a;
    --card: #e2e8f0;
}

body {
    font-family: Arial;
    background: var(--bg);
    color: var(--text);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--bg);
    position: sticky;
    top: 0;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
}

.theme-btn {
    border: 1px solid #38bdf8;
    background: transparent;
    color: #38bdf8;
    padding: 6px 10px;
    cursor: pointer;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    animation: fadeIn 1s ease-in;
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

.hero a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}

.cv-btn {
    background: transparent !important;
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

/* SECTIONS */
section {
    padding: 50px;
    text-align: center;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* SKILLS */
.skill {
    width: 60%;
    margin: 10px auto;
    text-align: left;
}

.bar {
    background: #334155;
    height: 10px;
    border-radius: 10px;
}

.bar div {
    height: 10px;
    background: #38bdf8;
    border-radius: 10px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .skill {
        width: 90%;
    }
}
